.orange {
  color: #ff8800;
}

.jumbotron {
  background: white !important;
}

a.anchor {
  display: block;
  position: relative;
  top: -100px;
  visibility: hidden;
}

.navbar-nav {
  font-size: 1.6rem;
}

.navbar {
  padding: 0;
}

.navbar-dark .navbar-nav .nav-link {
  color: #ff8800;
}

.nav-tabs a {
  color: #ff8800;
  font-size: 1.5em;
}

.section-text {
  width: 70%;
  font-size: 1.7em;
  color: #b6411d;
}

.carousel-item img {
  max-height: 500px;
  margin: auto;
}

.header-photo {
  width: 100%;
  max-width: 606px;
}

.home-head {
  width: 100%;
  height: 70vh;
  background-image: url("/Russ/photos/mowing/home.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.home-head-text {
  height: 100%;
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-left: 3%;
  padding-right: 3%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: rgba(255, 136, 0, 0.72);
  text-align: center;
  color: white;
}

.home-head-text h1 {
  font-size: 2.5rem !important;
  margin-bottom: 10%;
}

.home-head-text p {
  font-size: 1.3rem;
}

.home-head-text a {
  margin-left: 25%;
  margin-right: 25%;
  margin-top: 3%;
  padding: 3% !important;
  background-color: #299b29;
  border: none;
  border-radius: 25px;
  color: white;
  text-decoration: none;
  font-size: 1.7rem;
}

.home-services .row {
  width: 100%;
  height: auto;
  background-color: darkgray;
  padding: 2% 7%;
  margin: 0;
  text-align: center;
  color: white;
}

.home-services .row .col-lg {
  margin: 1%;
  padding: 2% 0;
  padding-bottom: 4%;
  height: auto;
  background-color: #343a40;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.home-services .row img {
  width: 60%;
}

.home-services .row p {
  padding: 3% 10%;
}

.home-services .row a {
  padding: 4% !important;
  background-color: #299b29;
  border: none;
  border-radius: 25px;
  color: white;
  text-decoration: none;
  font-size: 1.4rem;
}

.footer {
  width: 100%;
  height: auto;
  padding: 5%;
  padding-bottom: 0;
  background-color: #ff8800;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.footer .row img {
  width: 100%;
}

.footer .row .foot-btn {
  text-align: center;
  margin: 4%;
  padding: 3% !important;
  background-color: #299b29;
  border: none;
  border-radius: 25px;
  color: white;
  text-decoration: none;
  font-size: 2.5rem;
}

@media screen and (max-width: 768px) {
  .home-head-text {
    width: 75%;
  }
}

@media screen and (max-width: 576px) {
  .home-head {
    height: 50vh;
  }
  .home-head-text {
    padding: 0;
    width: 100%;
  }
  .home-head-text h1 {
    font-size: 2.5rem !important;
  }
  .navbar {
    padding: .5rem 1rem;
  }
  .footer img {
    margin-top: 5%;
  }
}
/*# sourceMappingURL=style.css.map */