.jumbotron {
    background: white!important;
}

a.anchor {
    display: block;
    position: relative;
    top: -100px;
    visibility: hidden;
}

.navbar-nav {
    font-size: 1.6rem;
}

.navbar {
    padding: 0;
}

.navbar-dark .navbar-nav .nav-link {
    color: orange;
}

.nav-tabs a {
    color: orange;
    font-size: 1.5em;
}

.section-text {
    width: 70%;
    font-size: 1.7em;
    color: rgb(182, 65, 29);
}

.carousel-item img {
    max-height: 500px;
    margin: auto;
}

.header-photo {
    width: 100%;
    max-width: 606px;
}

.home-head {
    width: 100%;
    height: 70vh;
    background-image: url('/Russ/photos/mowing/home.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.home-head-text {
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    padding-left: 15%;
    padding-right: 10%;
    justify-content: center;
    background-color: rgba(255, 136, 0, 0.72);
    text-align: center;
    color: white;

    a {
        margin-left: 25%;
        margin-right: 25%;
        margin-top: 3%;
        background-color: green;
        border: none;
        border-radius: 25px;
        color: white;
        text-decoration: none;
    }
}

@media screen and (max-width: 500px){

    .home-head {
        height: 50vh;
    }
    .home-head-text {
        padding: 0;
        width: 100%;
    }

    .navbar {
        padding: .5rem 1rem;
    }
}