$base-orange: rgb(255, 136, 0);

.jumbotron {
    background: white!important;
}

a.anchor {
    display: block;
    position: relative;
    top: -100px;
    visibility: hidden;
}

.navbar-nav {
    font-size: 1.6rem;
}

.navbar {
    padding: 0;
}

.navbar-dark .navbar-nav .nav-link {
    color: $base-orange;
}

.nav-tabs a {
    color: $base-orange;
    font-size: 1.5em;
}

.section-text {
    width: 70%;
    font-size: 1.7em;
    color: rgb(182, 65, 29);
}

.carousel-item img {
    max-height: 500px;
    margin: auto;
}

.header-photo {
    width: 100%;
    max-width: 606px;
}

.home-head {
    width: 100%;
    height: 70vh;
    background-image: url('/Russ/photos/mowing/home.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.home-head-text {
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    padding-left: 3%;
    padding-right: 3%;
    justify-content: center;
    background-color: rgba($base-orange, 0.72);
    text-align: center;
    color: white;

    h1 {
        font-size: 2.5rem!important;
        margin-bottom: 10%;
    }

    p {
        font-size: 1.3rem;
    }

    a {
        margin-left: 25%;
        margin-right: 25%;
        margin-top: 3%;
        padding: 3%!important;
        background-color: rgb(41, 155, 41);
        border: none;
        border-radius: 25px;
        color: white;
        text-decoration: none;
        font-size: 1.7rem;
    }
}

.home-services {
    .row {
        width: 100%;
        height: 70vh;
        background-color: darkgray;
        padding: 1% 7%;
        margin: 0;
        text-align: center;
        color: white;

        .col-lg {
            margin: 1%;
            padding: 2% 0;
            background-color: #343a40;
        }

        img{
            margin-top: 4%;
            width: 60%;
        }
    }
}

.footer {
    width: 100%;
    height: 40vh;
    background-color: $base-orange;
}

@media screen and (max-width: 768px){
    .home-head-text {
        width: 75%;
    }
}

@media screen and (max-width: 576px){

    .home-head {
        height: 50vh;
    }
    .home-head-text {
        padding: 0;
        width: 100%;

        h1 {
            font-size: 2.5rem!important;
        }
    }

    .navbar {
        padding: .5rem 1rem;
    }
}