.orange {
  color: #ff8800;
}

.jumbotron {
  background: white !important;
}

a.anchor {
  display: block;
  position: relative;
  top: -100px;
  visibility: hidden;
}

.navbar-nav {
  font-size: 1.6rem;
}

.navbar {
  padding: 0;
}

.navbar-dark .navbar-nav .nav-link {
  color: #ff8800;
}

.nav-tabs a {
  color: #ff8800;
  font-size: 1.5em;
}

.header-photo {
  width: 100%;
  max-width: 606px;
}

.home-head {
  width: 100%;
  height: 70vh;
  background-image: url("./photos/mowing/home.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.home-head-text {
  height: 100%;
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-left: 3%;
  padding-right: 3%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: rgba(255, 136, 0, 0.72);
  text-align: center;
  color: white;
}

.home-head-text h1 {
  font-size: 2.5rem !important;
  margin-bottom: 10%;
}

.home-head-text p {
  font-size: 1.3rem;
}

.home-head-text a {
  margin-left: 25%;
  margin-right: 25%;
  margin-top: 3%;
  padding: 3% !important;
  background-color: #299b29;
  border: none;
  border-radius: 25px;
  color: white;
  text-decoration: none;
  font-size: 1.7rem;
  -webkit-transition: all 100ms ease-in;
  transition: all 100ms ease-in;
}

.home-head-text a:hover {
  background-color: #248324;
  -webkit-transform: scale(0.95);
          transform: scale(0.95);
}

.home-services .row {
  width: 100%;
  height: auto;
  background-color: darkgray;
  padding: 2% 7%;
  margin: 0;
  text-align: center;
  color: white;
}

.home-services .row .col-lg {
  margin: 1%;
  padding: 2% 0;
  padding-bottom: 4%;
  height: auto;
  background-color: #343a40;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.home-services .row img {
  width: 60%;
}

.home-services .row p {
  padding: 3% 10%;
}

.home-services .row a {
  padding: 4% !important;
  background-color: #299b29;
  border: none;
  border-radius: 25px;
  color: white;
  text-decoration: none;
  font-size: 1.4rem;
  -webkit-transition: all 100ms ease-in;
  transition: all 100ms ease-in;
}

.home-services .row a:hover {
  background-color: #248324;
  -webkit-transform: scale(0.95);
          transform: scale(0.95);
}

.services-head {
  width: 100%;
  height: 15vh;
  background-color: #ff8800;
  color: white;
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.services-head h1 {
  padding: 0;
  margin: 0;
}

.services-section h2 {
  color: #299b29;
  text-align: center;
  margin-top: 4%;
  font-size: 3rem;
}

.services-section .content {
  margin: 3% 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.services-section .content p {
  font-size: 1.3rem;
}

.services-section .content ul li {
  list-style: none;
  line-height: 2.5rem;
  font-size: 1.5rem;
  font-weight: bold;
}

.services-section .content ul li ul li {
  font-weight: normal;
}

.services-section .carousel {
  background-color: #343a40;
  width: 100%;
}

.services-section .carousel img {
  height: 75vw;
  max-height: 75vh;
  width: auto;
  max-width: 100%;
  margin: auto;
}

.contact {
  width: 100%;
  background-image: url("./photos/contact/header.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.contact h1 {
  font-size: 2rem;
}

.contact .form {
  margin: 2% 0;
  margin-right: 7%;
  width: 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 2% 5%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: rgba(255, 136, 0, 0.8);
  text-align: center;
  color: white;
  max-height: 100%;
}

.contact .form label {
  font-size: 1.7rem;
}

.contact .form button {
  padding: 5% !important;
  background-color: #299b29;
  border: none;
  border-radius: 25px;
  color: white;
  text-decoration: none;
  font-size: 1.5rem;
  -webkit-transition: all 100ms ease-in;
  transition: all 100ms ease-in;
}

.contact .form button:hover {
  background-color: #248324;
  -webkit-transform: scale(0.95);
          transform: scale(0.95);
}

.other-contact h2 {
  text-align: center;
  margin-top: 3%;
}

.other-contact .row {
  padding: 0 10%;
  margin: 0;
}

.other-contact .row .col-lg {
  padding: 5% 0%;
}

.other-contact .row .col-lg a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 2em;
  text-decoration: none;
}

.other-contact .row .col-lg a i {
  font-size: 2em;
  padding-bottom: 4%;
}

.footer {
  width: 100%;
  height: auto;
  padding: 5%;
  padding-bottom: 0;
  background-color: #ff8800;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.footer .row img {
  width: 100%;
  -webkit-transition: -webkit-transform 100ms ease-in;
  transition: -webkit-transform 100ms ease-in;
  transition: transform 100ms ease-in;
  transition: transform 100ms ease-in, -webkit-transform 100ms ease-in;
}

.footer .row img:hover {
  -webkit-transform: scale(0.95);
          transform: scale(0.95);
}

.footer .row .foot-btn {
  text-align: center;
  margin: 4%;
  padding: 3% !important;
  background-color: #299b29;
  border: none;
  border-radius: 25px;
  color: white;
  text-decoration: none;
  font-size: 2.5rem;
  -webkit-transition: all 100ms ease-in;
  transition: all 100ms ease-in;
}

.footer .row .foot-btn:hover {
  background-color: #248324;
  -webkit-transform: scale(0.95);
          transform: scale(0.95);
}

@media screen and (max-width: 991px) {
  .contact h1 {
    font-size: 1.8rem;
  }
  .contact .form {
    margin-right: 1%;
    width: 45%;
  }
}

@media screen and (max-width: 767px) {
  .contact .form {
    width: 58%;
    height: 100%;
    margin: 0;
  }
  .navbar {
    padding: .5rem 1rem;
  }
  .home-head-text {
    width: 75%;
  }
}

@media screen and (max-width: 576px) {
  .contact h1 {
    font-size: 2.1rem;
  }
  .contact .form {
    width: 100%;
    padding: 5% 8%;
  }
  .home-head {
    height: 50vh;
  }
  .home-head-text {
    padding: 0;
    width: 100%;
  }
  .home-head-text h1 {
    font-size: 2.5rem !important;
  }
  .home-services .row a {
    padding: 5% !important;
    background-color: #299b29;
    border: none;
    border-radius: 25px;
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
    -webkit-transition: all 100ms ease-in;
    transition: all 100ms ease-in;
  }
  .other-contact .row {
    padding: 0;
    width: 100%;
  }
  .other-contact .row .col-lg a {
    font-size: 1.2em;
  }
  .footer img {
    margin-top: 5%;
  }
}
/*# sourceMappingURL=style.css.map */