$base-orange: rgb(255, 136, 0);

@mixin gre-btn ($size, $padd){
    padding: $padd!important;
    background-color: rgb(41, 155, 41);
    border: none;
    border-radius: 25px;
    color: white;
    text-decoration: none;
    font-size: $size;
    transition: all 100ms ease-in;
}

@mixin gre-btn-hover () {
    background-color: rgb(36, 131, 36);
    transform: scale(.95);

}

.orange {
    color: $base-orange;
}

.jumbotron {
    background: white!important;
}

a.anchor {
    display: block;
    position: relative;
    top: -100px;
    visibility: hidden;
}

.navbar-nav {
    font-size: 1.6rem;
}

.navbar {
    padding: 0;
}

.navbar-dark .navbar-nav .nav-link {
    color: $base-orange;
}

.nav-tabs a {
    color: $base-orange;
    font-size: 1.5em;
}

.header-photo {
    width: 100%;
    max-width: 606px;
}

.home-head {
    width: 100%;
    height: 70vh;
    background-image: url('./photos/mowing/home.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.home-head-text {
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    padding-left: 3%;
    padding-right: 3%;
    justify-content: center;
    background-color: rgba($base-orange, 0.72);
    text-align: center;
    color: white;

    h1 {
        font-size: 2.5rem!important;
        margin-bottom: 10%;
    }

    p {
        font-size: 1.3rem;
    }

    a {
        margin-left: 25%;
        margin-right: 25%;
        margin-top: 3%;
        @include gre-btn(1.7rem, 3%);
        
    }
    a:hover {
        @include gre-btn-hover();
    }
}

.home-services {
    .row {
        width: 100%;
        height: auto;
        background-color: darkgray;
        padding: 2% 7%;
        margin: 0;
        text-align: center;
        color: white;

        .col-lg {
            margin: 1%;
            padding: 2% 0;
            padding-bottom: 4%;
            height: auto;
            background-color: #343a40;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
        }

        img{
            width: 60%;
        }

        p{
            padding: 3% 10%;
        }

        a {
            @include gre-btn(1.4rem, 4%);
        }

        a:hover {
            @include gre-btn-hover();
        }
    }
}

.services-head {
    width: 100%;
    height: 15vh;
    background-color: $base-orange;
    color: white;
    display: grid;
    align-items: center;
    h1 {
        padding: 0;
        margin: 0;
    }
}

.services-section {
    h2 {
        color: rgb(41, 155, 41);
        text-align: center;
        margin-top: 4%;
        font-size: 3rem;
    }
    .content {
        margin: 3% 10%;
        display: flex;
        flex-direction: column;
        align-items: center;

        p {
            font-size: 1.3rem;
        }
        ul li {
            list-style: none;
            line-height: 2.5rem;
            font-size: 1.5rem;
            font-weight: bold;
            ul li {
                font-weight: normal;
            }
        }
    }
    .carousel {
        background-color: #343a40;
        width: 100%;
        img {
            height: 75vw;
            max-height: 75vh;
            width: auto;
            max-width: 100%;
            margin: auto;
        }
    }
}

.contact {
    width: 100%;
    background-image: url('./photos/contact/header.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: flex-end;

    h1 {
        font-size: 2rem;
    }

    .form {
        margin: 2% 0;
        margin-right: 7%;
        width: 40%;
        display: flex;
        flex-direction: column;
        padding: 2% 5%;
        justify-content: center;
        background-color: rgba($base-orange, 0.8);
        text-align: center;
        color: white;
        max-height: 100%;

        label {
            font-size: 1.7rem;
        }

        button {
            @include gre-btn(1.5rem, 5%);
        }

        button:hover {
            @include gre-btn-hover();
        }
    }
}

.other-contact {

    h2 {
        text-align: center;
        margin-top: 3%;
    }

    .row {

        padding: 0 10%;
        margin: 0;
        
        .col-lg {

            padding: 5% 0%;

            a {
                display: flex;
                flex-direction: column;
                align-items: center;
                font-size: 2em;
                text-decoration: none;

                i {
                    font-size: 2em;
                    padding-bottom: 4%;
                }
            }
        }
    }
}

.footer {
    width: 100%;
    height: auto;
    padding: 5%;
    padding-bottom: 0;
    background-color: $base-orange;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .row {
        display: flex;
        justify-content: space-around;

        img {
            width: 100%;
            transition: transform 100ms ease-in;
        }

        img:hover {
            transform: scale(.95);
        }

        .foot-btn {
            text-align: center;
            margin: 4%;
            @include gre-btn(2.5rem, 3%); 
        }

        .foot-btn:hover {
            @include gre-btn-hover();
        }
    }
}

@media screen and (max-width: 991px){
    .contact {
        h1 {
            font-size: 1.8rem;
        }
        .form {
            margin-right: 1%;
            width: 45%;
        }  
    }
}

@media screen and (max-width: 767px){
    .contact {
        .form {
            width: 58%;
            height: 100%;
            margin: 0;
        }
    }
    .navbar {
        padding: .5rem 1rem;
    }

    .home-head-text {
        width: 75%;
    }
}

@media screen and (max-width: 576px){

    .contact {
        h1 {
            font-size: 2.1rem;
        }
        .form {
            width: 100%;
            padding: 5% 8%;
        }
    }

    .home-head {
        height: 50vh;
    }
    .home-head-text {
        padding: 0;
        width: 100%;

        h1 {
            font-size: 2.5rem!important;
        }
    }

    .home-services {
        .row {
        
            a {
                @include gre-btn(1.2rem, 5%)
            }
        }
    }

    .other-contact {
        .row {
            padding: 0;
            width: 100%;
            .col-lg {
                a {
                    font-size: 1.2em;
                }
            }
        }
    }

    .footer {
        img{
            margin-top: 5%;
        }
    }
}